<h1>Hola, Bienvenido!</h1>
<p>Pagina desarrollada para temas de pruebas, a continuación la descripción de los módulos que podrá encontrar:</p>
<ul>
  <li>Cliente: este módulo está creado para la administración de clientes y donde también se puede redireccionar al
    módulo de compras</li>
  <li>Producto: ste módulo está creado para la administración de productos unicamente</li>
  <li>Ventas: solo se puede acceder desde el módulo de cliente</li>
</ul>
<p>Para iniciar es necesario angular y el servicio REST:</p>
<ul>
  <li>
    <strong>Configuración del proxy para CORS</strong>. desde el archivo de enviroment, solo cambien la ruta.
  </li>
  <li>
    <strong>Otras configuraciones</strong>. Por el momento en ajustes.
  </li>
  <li>
    <strong>Tecnologias adicionales</strong>. Bootstrap-angular y Notiflix.
  </li>
</ul>
<p>
  Autor: <code>Felipe Patarroyo</code> Gracias por la atención prestada, actualmente corre en la versión 14 de Angular,
  para ejecutar el servidor nada más correr el script "<code>npm start</code>".
</p>
